/*-----------------Elementos principais-----------------*/


/*------------------CAPA------------------*/

body {
    background-color: #303030;
}

a:hover {
    font-size: 17px;
}

#principal {
	height: 100%;
    background: url("../images/background.jpeg") bottom ;
    background-size: cover; /*isso deixa a imagem completa*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: relative;
    box-sizing: border-box;

}

#peca-agora-div {
    padding: 30px 0px 5px;
}

#capa {
    height: 100%;
    width: 100%;
}

#logoBravos {
    width: 350px;
}

/*-------Botão Peça agora!--------*/
#peca-agora {
    color: #303030;
    background-color: #ffbd4a;
    font-family: "londrinasolid-regular";
    padding: 4px 12px 4px 12px;
    border: 2px solid #ffbd4a;
    border-radius: 5px;
    font-size: 23px;
}

#peca-agora:hover{
color: white;
cursor: pointer;
}


/*--------------------Nav-bar--------------------*/

.nav-item {
    color: #fff;
    font-family: "londrinasolid-thin";
    font-size: 15px;
    line-height: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff; 
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: rgba(30, 30, 30, 0.85);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.nav-item .dropdown {
    box-sizing: border-box;
    display: list-item;
    float: none;
    line-height: 1.2px;
    position: static;
    z-index: auto;
    top: 0;
}

.dropdown-menu {
    background: none;
    border: none;
}

.dropdown-item {
    background: none;
    color: #fff;
    padding: 15px;
}

.dropdown-item:hover {
    color: #fff;
    background: rgba(30, 30, 30, 0.3);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

/*------------Seção 2------------*/

.section2, .section5 {
    background-color: #f8f8f8;
    text-align: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.fa, .far, .fas {
    font-size: 40px;
}

.section2 h4, .section4 h4, .section5 h4{
    font-family: "dosis-regular";
    font-size: 35px;
    line-height: 45px;
    color: #303030;
    margin-bottom: 35px;
}

.section2 h6, .section3 h6, .section5 h6 {
    font-family: "dosis-bold";
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.section2 i {
    margin-bottom: 20px;
}

.section2 p, .section5 p {
    font-family: "open-sans-regular";
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}

.section2 .col-lg-4 {
    padding-bottom: 10px;
    padding-top: 10px;
}


/*------------Seção 3------------*/

.section3 {
    background-image: url("../images/pedra-do-bravo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section3 h4 {
    font-family: "dosis-regular";
    font-size: 35px;
    line-height: 45px;
    color: #f8f8f8;
    font-weight: 900;
    margin-bottom: 0px;

    text-shadow: 0 0 20px black, 0 0 20px #f8f8f8;
}

.section3 h6 {
    color: #f8f8f8;
    text-shadow: 0 0 20px black, 0 0 20px #f8f8f8;
}

.section3 p {
    font-family: "dosis-regular";
    letter-spacing: 0.7px;
    color: #f8f8f8;
    text-shadow: 0 0 20px black, 0 0 20px #f8f8f8;
}


.section3 img {
    margin: 50px;
}

.section3 .rounded-circle {
    border: solid 3px;
    border-color: #ffbd4a;
    border-radius: 50%;
    box-shadow: 3px 3px 3px 1px black;
}

.section3 .col-lg-2 {
    padding-left: 10px;
    padding-right: 10px;
}


/*------------Seção 4------------*/
.section4 {
    background-color: white;
    text-align: center;
    padding-top: 20px;

}


/*------------Seção 5------------*/
.section5 {
    background: #f8f8f8;
    padding-left: 50px;
    padding-right: 50px;
}

.section5 div h4 {
    color: #2e2e2e;
}

.section5 h6 {
    padding-top: 15px;
}

/*------------Seção 6------------*/
.section6 {
    background-color: white;
    color: #303030;
    text-align: center;
}

.section6 h4 {
    font-family: "open-sans-regular";
    font-size: 35px;
    line-height: 45px;
    font-weight: normal;

    margin-top: 10px;

}

/*------------Whats-------------*/
.whats img{

}




/*--------------------FONTES--------------------*/

/*Londrina*/
@font-face {
     font-family: "londrinasolid-thin";
     src: url('./fonts/Londrina_Solid/LondrinaSolid-Thin.ttf');
}

@font-face {
     font-family: "londrinasolid-black";
     src: url('./fonts/Londrina_Solid/LondrinaSolid-Black.ttf');
}

@font-face {
     font-family: "londrinasolid-regular";
     src: url('./fonts/Londrina_Solid/LondrinaSolid-Regular.ttf');
}

/*Dosis*/
@font-face {
     font-family: "dosis-bold";
     src: url('./fonts/Dosis/static/Dosis-Bold.ttf');
}

@font-face{
    font-family: "dosis-regular";
    src: url('./fonts/Dosis/static/Dosis-Regular.ttf');
}


/*Open sans*/
@font-face {
     font-family: "open-sans-regular";
     src: url('./fonts/Open_Sans/OpenSans-Regular.ttf');
}


